.container{
    margin-left: 10%;
    margin-right: 10%;
}
.card{
    box-shadow: 1px 3px 8px rgb(221, 221, 221);
    display: inline-flex;
    margin: 10px;
    width: 150px;
    height: 200px;
    background-image: linear-gradient(#8A2387, #E94057, #F27121);
    color: white;
}
.card-body{
    padding: 1rem;
}
p{
    font-size: 10px;
}